<div class="websparks-office">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-lg-5 col-md-12 col-sm-12">
                <div class="ws-address">
                    <h5 class="header">Our Office</h5>
                    <p class="small-text">
                        Block 19 <br> Kallang Avenue, #05-161 <br> Singapore 339410
                    </p>
                    <h5 class="header">Our Vietnam Office</h5>
                    <p class="small-text">
                        181 Cao Thang, Ward 12, District 10, Ho Chi Minh City <br> 181 Cao Thắng, Phường 12, Quận 10, TP. HCM
                    </p>
                    <h5 class="header">Contact Info</h5>
                    <p class="small-text" x-ms-format-detection="none">
                        Office : (65) 6292 4654<br> Fax : (65) 6291 2520 <br> Email: <a href="mailto:cheechiu@websparks.sg?subject=&amp;cc=&amp;bcc=&amp;body=">cheechiu@websparks.sg</a>
                    </p>
                    <ul list="social-list">
                        <li class="social-icons">
                            <a href="https://www.facebook.com/websparks/" target="_blank"><img src="assets/images/icons/facebook-logo-button.svg"></a>
                        </li>
                        <li class="social-icons">
                            <a href="https://twitter.com/websparks?lang=en" target="_blank"><img src="assets/images/icons/twitter-logo-button.svg"></a>
                        </li>
                        <li class="social-icons">
                            <a href="https://www.linkedin.com/company/websparks-pte-ltd" target="_blank"><img src="assets/images/icons/linkedin.svg"></a>
                        </li>
                        <li class="social-icons">
                            <a href="https://www.youtube.com/user/websparkstv" target="_blank"><img src="assets/images/icons/youtube-logotype.svg"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12">
                <div class="goggle-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7730723862196!2d103.86331541400854!3d1.3115359990434288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da19ca1cde4c49%3A0xe4ea0b231ac13e48!2sWebsparks+Pte+Ltd!5e0!3m2!1sen!2ssg!4v1557107122740!5m2!1sen!2ssg" width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>