<div class="recent-project">
    <div class="container-fluid" style="padding:0">
        <div class="row no-gutters">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="head-caption">
                    <div class="header">
                        <h3>Recent <span>Projects</span></h3>
                    </div>
                    <br>
                    <h4 class="sub-caption">We Think, Create and Exceed Your Expectations</h4>
                    <br>
                    <p class="small-text">Websparks, adding the sparkles to our web presence.</p>
                    <br>
                    <span><a href="http://ww2.mywebsparks.com/websparks-staging/portfolio.html">View All Projects</a></span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="outer-div">
                    <div class="inner-div bg-ca"></div>
                    <div class="caption">
                        <p class="small-text">Civil Aviation Authority of Singapore</p>
                        <small>web design, Government</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="outer-div">
                    <div class="inner-div bg-nd"></div>
                    <div class="caption">
                        <p class="small-text">Ministry of National Development</p>
                        <small>UI/UX, CMS Implementation, government</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="outer-div">
                    <div class="inner-div bg-nea"></div>
                    <div class="caption">
                        <p class="small-text">National Environment Agency</p>
                        <small>CMS Implementation, government</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="outer-div">
                    <div class="inner-div bg-nus"></div>
                    <div class="caption">
                        <p class="small-text">National University of Singapore</p>
                        <small>web design, Education</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="outer-div">
                    <div class="inner-div bg-ptc"></div>
                    <div class="caption">
                        <p class="small-text">Public Transport Council</p>
                        <small>UI/UX, CMS Implementation, Goverment</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>