<div class="about-websparks">
    <div class="container">
        <!-- Title Section -->
        <div class="header">
            <h3>About <span>Websparks</span></h3>
        </div>
        <!-- Title Section -->
        <div class="about-websparks-section">
            <div class="row">
                <div class="col-lg-3">
                    <div class="left-content">
                        <span>11</span>
                        <p class="small-text">Years of Experience <br>since 2008</p>
                    </div>
                </div>
                <div class="col">
                    <div class="right-content">
                        <p class="sub-title">An <span>award</span> winning<br>web solutions agency with a mission</p>
                        <p class="content">We are out to revolutionise the World Wide Web with our distinctive blend of web alchemy. <br>Established in 2008, our team lives by one motto: To exceed our clients’ expectations in every <br> project we undertake.</p>
                    </div>
                    <div class="sub-right-content">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                                <h4 class="title">395</h4>
                                <p class="small-text">Projects</p>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                                <h4 class="title">165</h4>
                                <p class="small-text">Clients</p>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                                <h4 class="title">65</h4>
                                <p class="small-text">Websparkers</p>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                                <h4 class="title">11</h4>
                                <p class="small-text">Years</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>