<div class="websparks-social">
    <div class="container-fluid" style="padding:0">
        <div class="row">
            <div class="col-lg-3 col-md-12 bg-left">
            </div>
            <div class="col-lg-7 offset-lg-1 col-md-12">
                <div class="right-content">
                    <div class="header">
                        <h3>Corporate Social <span>Responsibility</span></h3>
                        <p class="small-text">Websparks believes in contributing back to the society.</p>
                        <br>
                        <p class="small-text">We have been sponsoring In-Kind for School of Computing (SoC)’s event such as the School of Computing Term Project Showcase (STePS), which aims to bring together all of the class-based projects and project modules over the
                            past 3 years. (http://steps.comp.nus.edu.sg/steps6/ )</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>