<div class="websparks-services">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-lg-4 col-md-12 bg-left">
                <!--Left Section-->
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="right-section">
                    <div class="container">
                        <div class="sub-header">
                            <h4>Our Services</h4>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="content-snippet">
                                    <span>01</span>
                                    <h4 class="title">Application development</h4>
                                    <p class="small-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. it to make a type specimen book.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="content-snippet">
                                    <span>02</span>
                                    <h4 class="title">CMS Implementation</h4>
                                    <p class="small-text">Our professional technical development team is experienced in implementing CMS solutions such as DotNetNuke, Sitefinity, Sitecore, Wordpress and Joomla.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="content-snippet">
                                    <span>03</span>
                                    <h4 class="title">UI / UX Design</h4>
                                    <p class="small-text">Our team of experienced, award-winning designers work closely with our clients to create effective websites that surpass expectations.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="content-snippet">
                                    <span>04</span>
                                    <h4 class="title">Website Maintenance</h4>
                                    <p class="small-text">Websparks offers a holistic, value for money service. All our staffs are based in Singapore, offering the high reliability and instant support required by our clients.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>