<app-module-banner></app-module-banner>
<div class="our-portfolio">
    <div class="container">
        <ul class="filter-items">
            <li class="filter-item">
                <a class="filter-button selected" id="all">All</a>
            </li>
            <li class="filter-item">
                <a class="filter-button" id="gov">Goverment</a>
            </li>
            <li class="filter-item">
                <a class="filter-button" id="edu">Education</a>
            </li>
            <li class="filter-item">
                <a class="filter-button" id="mncSme">MNC/SME</a>
            </li>
        </ul>
    </div>
</div>
<div class="our-portfolio-gallery">
    <div class="container">
        <div class="row">
            <!-- CASS / Civil Aviation Authority of Singapore (CAAS)  -->
            <div class="col-lg-4 col-md-6 col-sm-6 gallery-list all gov" style="">
                <img src="assets/images/portfolio/CAAS.png" class="img-fluid">
                <div class="content">
                    <img src="assets/images/portfolio/caas_logo200x90.png" class="logo">
                    <p class="small-text">Civil Aviation Authority of Singapore</p>
                    <small>web design, government</small>
                </div>
            </div>
            <!-- IPOS / Intellectual Property Office of Singapore  -->
            <div class="col-lg-4 col-md-6 col-sm-6 gallery-list all gov" style="">
                <img src="assets/images/portfolio/ipos.png" class="img-fluid">
                <div class="content">
                    <img src="assets/images/portfolio/ipos_logo200x90.png" class="logo">
                    <p class="small-text">Intellectual Property Office of Singapore</p>
                    <small>web design, government</small>
                </div>
            </div>
            <!-- MUIS / Majlis Ugama Islam Singapura  -->
            <div class="col-lg-4 col-md-6 col-sm-6 gallery-list all gov" style="">
                <img src="assets/images/portfolio/muis.png" class="img-fluid">
                <div class="content">
                    <img src="assets/images/portfolio/muis_logo200x90.png" class="logo">
                    <p class="small-text">Majlis Ugama Islam Singapura</p>
                    <small>web design, government</small>
                </div>
            </div>
            <!-- NUS / NUS Registar's  -->
            <div class="col-lg-4 col-md-6 col-sm-6 gallery-list all edu" style="">
                <img src="assets/images/portfolio/nus_registar.png" class="img-fluid">
                <div class="content">
                    <img src="assets/images/portfolio/nus_registar200x90.png" class="logo">
                    <p class="small-text"> NUS Registar's</p>
                    <small>web design, UI, education</small>
                </div>
            </div>
            <!-- PAR / Parliament of Singapore  -->
            <div class="col-lg-4 col-md-6 col-sm-6 gallery-list all gov" style="">
                <img src="assets/images/portfolio/Parliament_of_Singapore.png" class="img-fluid">
                <div class="content">
                    <img src="assets/images/portfolio/parliament_logo200x90.png" class="logo">
                    <p class="small-text">Parliament of Singapore</p>
                    <small>UI/UX, CMS Implementation, goverment</small>
                </div>
            </div>
            <!-- PTC / Public Transport of Singapore  -->
            <div class="col-lg-4 col-md-6 col-sm-6 gallery-list all gov" style="">
                <img src="assets/images/portfolio/ptc.png" class="img-fluid">
                <div class="content">
                    <img src="assets/images/portfolio/ptc_logo200x90.png" class="logo">
                    <p class="small-text">Public Transport of Singapore</p>
                    <small>UI/UX, CMS Implementation, goverment</small>
                </div>
            </div>
            <!-- SMRT / SMRT  -->
            <div class="col-lg-4 col-md-6 col-sm-6 gallery-list all gov" style="display:none">
                <img src="assets/images/portfolio/SMRT.png" class="img-fluid">
                <div class="content">
                    <img src="assets/images/portfolio/smrt_logo200x90.png" class="logo">
                    <p class="small-text">SMRT</p>
                    <small>web design, CMS Implementation, government</small>
                </div>
            </div>
            <!-- SFF / Skill Future Funds  -->
            <div class="col-lg-4 col-md-6 col-sm-6 gallery-list all gov" style="display:none">
                <img src="assets/images/portfolio/SkillsFuture.png" class="img-fluid">
                <div class="content">
                    <img src="assets/images/portfolio/sf_logo200x90.png" class="logo">
                    <p class="small-text">Skill Future Funds</p>
                    <small>UI/UX, government</small>
                </div>
            </div>
            <!-- MOHA / Ministry of Home Affairs -->
            <div class="col-lg-4 col-md-6 col-sm-6 gallery-list all gov" style="display:none">
                <img src="assets/images/portfolio/Ministry_of_Home_Affairs.png" class="img-fluid">
                <div class="content">
                    <img src="assets/images/portfolio/moha_logo200x90.png" class="logo">
                    <p class="small-text">Ministry of Home Affairs</p>
                    <small>UI, CMS Implementation, government</small>
                </div>
            </div>
            <!-- NSCS / Ministry of Home Affairs -->
            <div class="col-lg-4 col-md-6 col-sm-6 gallery-list all gov" style="display:none">
                <img src="assets/images/portfolio/National_Security_Coordination_Secretariat.png" class="img-fluid">
                <div class="content">
                    <img src="assets/images/portfolio/nscs_logo200x90.png" class="logo">
                    <p class="small-text">Ministry of Home Affairs</p>
                    <small>UI, government</small>
                </div>
            </div>
            <!-- CRA / CASINO REGULATORY AUTHORITY OF SINGAPORE  -->
            <div class="col-lg-4 col-md-6 col-sm-6 gallery-list all gov" style="display:none">
                <img src="assets/images/portfolio/Casino_Regulatory_Authority.png" class="img-fluid">
                <div class="content">
                    <img src="assets/images/portfolio/cra_logo200x90.png" class="logo">
                    <p class="small-text">Casino Regulatory Authority</p>
                    <small>UI, CMS Implementation, government</small>
                </div>
            </div>
            <!-- FJC / Family Justice Courts  -->
            <div class="col-lg-4 col-md-6 col-sm-6 gallery-list all gov" style="display:none">
                <img src="assets/images/portfolio/Family_Justice_Courts.png" class="img-fluid">
                <div class="content">
                    <img src="assets/images/portfolio/fjc_logo200x90.png" class="logo">
                    <p class="small-text">Family Justice Courts</p>
                    <small>UI, CMS Implementation, government</small>
                </div>
            </div>
            <!-- AGD / Account General Department  -->
            <div class="col-lg-4 col-md-6 col-sm-6 gallery-list all gov" style="display: none;">
                <img src="assets/images/portfolio/Accountant_General_Department.png" class="img-fluid">
                <div class="content">
                    <img src="assets/images/portfolio/agd_logo200x90.png" class="logo">
                    <p class="small-text">Account General Department</p>
                    <small>UI, CMS Implementation, government</small>
                </div>
            </div>
            <!-- MOH / MINISTRY OF HEALTH  -->
            <div class="col-lg-4 col-md-6 col-sm-6 gallery-list all gov" style="display: none;">
                <img src="assets/images/portfolio/Ministry_of_Health.png" class="img-fluid">
                <div class="content">
                    <img src="assets/images/portfolio/moho_logo200x90.png" class="logo">
                    <p class="small-text">Ministry of Health</p>
                    <small>CMS Implementation, government</small>
                </div>
            </div>
            <!-- MOH / Ministry of National Department  -->
            <div class="col-lg-4 col-md-6 col-sm-6 gallery-list all gov" style="display: none;">
                <img src="assets/images/portfolio/Ministry_of_National_Development.png" class="img-fluid website">
                <div class="content">
                    <img src="assets/images/portfolio/mnd_logo200x90.png" class="logo">
                    <p class="small-text">Ministry of National Department</p>
                    <small>UI/UX, CMS Implementation, government</small>
                </div>
            </div>
            <!-- NEA / National Environment Agency  -->
            <div class="col-lg-4 col-md-6 col-sm-6 gallery-list all gov" style="display: none;">
                <img src="assets/images/portfolio/nea.png" class="img-fluid">
                <div class="content">
                    <img src="assets/images/portfolio/nea_logo200x90.png" class="logo">
                    <p class="small-text">National Environment Agency</p>
                    <small>CMS Implementation, government</small>
                </div>
            </div>
            <!-- NUS / NUS DUKE  -->
            <div class="col-lg-4 col-md-6 col-sm-6 gallery-list all edu" style="display: none;">
                <img src="assets/images/portfolio/DukeNUS_Medical_School.png" class="img-fluid">
                <div class="content">
                    <img src="assets/images/portfolio/nusDuke_logo200x90.png" class="logo">
                    <p class="small-text">DukeNUS Medical School</p>
                    <small>UI, CMS Implementation, education</small>
                </div>
            </div>
            <!-- NLB / National Library Board  -->
            <div class="col-lg-4 col-md-6 col-sm-6 gallery-list all gov" style="display: none;">
                <img src="assets/images/portfolio/National_Library_Board.png" class="img-fluid">
                <div class="content">
                    <img src="assets/images/portfolio/nlb_logo200x90.png" class="logo">
                    <p class="small-text">National Library Board</p>
                    <small>UI, CMS Implementation, goverment</small>
                </div>
            </div>
            <!-- RP / Repulic Polytechnic  -->
            <div class="col-lg-4 col-md-6 col-sm-6 gallery-list all edu" style="display: none;">
                <img src="assets/images/portfolio/Republic_Polytechnic.png" class="img-fluid">
                <div class="content">
                    <img src="assets/images/portfolio/rp_logo200x90.png" class="logo">
                    <p class="small-text">National Library Board</p>
                    <small>UI/UX, CMS Implementation, education</small>
                </div>
            </div>
            <!-- SSG / Sport Singapore  -->
            <div class="col-lg-4 col-md-6 col-sm-6 gallery-list all gov" style="display: none;">
                <img src="assets/images/portfolio/Singapore_Sport.png" class="img-fluid">
                <div class="content">
                    <img src="assets/images/portfolio/sportSG_logo200x90.png" class="logo">
                    <p class="small-text">Singapore Sport</p>
                    <small>CMS Implementation, goverment</small>
                </div>
            </div>
            <!-- ASEAN / AIPP  -->
            <div class="col-lg-4 col-md-6 col-sm-6 gallery-list all mncSme" style="display: none;">
                <img src="assets/images/portfolio/ASEAN_Intellectual_Property_Portal.png" class="img-fluid">
                <div class="content">
                    <img src="assets/images/portfolio/asean_logo200x90.png" class="logo">
                    <p class="small-text">ASEAN Intellectual Property Portal</p>
                    <small>UI/UX, MNC/SME</small>
                </div>
            </div>
            <!-- Tripate  -->
            <div class="col-lg-4 col-md-6 col-sm-6 gallery-list all mncSme" style="display: none;">
                <img src="assets/images/portfolio/Tripartite_Alliance_Limited.png" class="img-fluid">
                <div class="content">
                    <img src="assets/images/portfolio/tripateAlliance_logo200x90.png" class="logo">
                    <p class="small-text">Tripartite Alliance</p>
                    <small>CMS Implementation, goverment</small>
                </div>
            </div>
            <button id="viewMore">View More</button>
        </div>
    </div>
</div>