<app-module-banner></app-module-banner>
<div class="services-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <a class="card" routerLink="/services-application-development">
                    <div class="card-body" data-maxlength="130">
                        <img class="img-fluid" src="assets/images/icons/services/usability_studies.svg" alt="services-application-development">
                        <h5 class="card-title">Application Development</h5>
                        <p class="card-text" card-title="application-development">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ....</p>
                        <hr>
                        <span class="card-link">Read More</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <a class="card" routerLink="/services-cms-implementation">
                    <div class="card-body" data-maxlength="138">
                        <img class="img-fluid" src="assets/images/icons/services/cms.svg" alt="services-cms-implementation">
                        <h5 class="card-title">CMS Implementation</h5>
                        <p class="card-text">Websparks is the only Silver Certified DotNetNuke Partner in Singapore. Our professional technical development team is also experienced in ....</p>
                        <hr>
                        <span routerLink="/services-cms-implementation" class="card-link">Read More</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <a class="card" routerLink="/services-cwp">
                    <div class="card-body" data-maxlength="128">
                        <img class="img-fluid" src="assets/images/icons/services/Content_Website.svg" alt="services-content-website-platform">
                        <h5 class="card-title">Content Website Platform</h5>
                        <p class="card-text">Content Website Platform is a framework catered for Singapore Government agencies in which they could utilize to quickly deploy  ....</p>
                        <hr>
                        <span routerLink="/services-cwp" class="card-link">Read More</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <a class="card" routerLink="/services-project-managment">
                    <div class="card-body" data-maxlength="128">
                        <img class="img-fluid" src="assets/images/icons/services/project_managment.svg" alt="services-project-managment">
                        <h5 class="card-title">Project Managment</h5>
                        <p class="card-text">Take advantage of Websparks' 9 years of Web Project Management expertise. Our professional and experienced Project Managers can  ....</p>
                        <hr>
                        <span routerLink="/services-project-managment" class="card-link">Read More</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <a class="card" routerLink="/services-ui-ux">
                    <div class="card-body" data-maxlength="132">
                        <img class="img-fluid" src="assets/images/icons/services/web_design.svg" alt="services-ui-ux-experience">
                        <h5 class="card-title">UI / UX Experience</h5>
                        <p class="card-text">Our team of experienced, award-winning designers work closely with our clients to create effective websites that surpass expectation ....</p>
                        <hr>
                        <span routerLink="/services-ui-ux" class="card-link">Read More</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <a class="card" routerLink="/services-website-maintenance">
                    <div class="card-body" data-maxlength="135">
                        <img class="img-fluid" src="assets/images/icons/services/Web_Maintenance.svg" alt="services-website-maintenance">
                        <h5 class="card-title">Website Maintenance</h5>
                        <p class="card-text">Websparks offers a holistic, value for money service. All our staffs are based in Singapore, offering the high reliability and instant  ....</p>
                        <hr>
                        <span routerLink="/services-website-maintenance" class="card-link">Read More</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>