<div class="about-websparks">
    <div class="container">
        <div class="sub-header">
            <h4>Why Websparks</h4>
        </div>
    </div>
    <div class="our-culture">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card h-100" card-title="expertise">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 col-md-6">
                                    <img src="assets/images/cards/expertise.png" class="card-img-top" alt="expertise">
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="card-body">
                                        <span>01</span>
                                        <h5 class="card-title">Expertise</h5>
                                        <ul class="card-text">
                                            <li>Undertake a mixture of private and public sector experiences.</li>
                                            <li>Many Government Agencies, such as IPOS, MND, SLA, PTC, MOE, and NLB have awarded Websparks with their website tenders.</li>
                                            <li>Deep knowledge in various platforms requirements.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card h-100" card-title="user-experience">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 col-md-6">
                                    <img src="assets/images/cards/ue.png" class="card-img-top" alt="user-experience">
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="card-body">
                                        <span>02</span>
                                        <h5 class="card-title">User Experience</h5>
                                        <ul class="card-text">
                                            <li>We focus on the user experience.</li>
                                            <li>Increase traffic and user engagement.</li>
                                            <li>Award Winning Websites.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card h-100" card-title="extensive">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 col-md-6">
                                    <img src="assets/images/cards/extensive.png" class="card-img-top" alt="extensive">
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="card-body">
                                        <span>03</span>
                                        <h5 class="card-title">Extensive (Approach)</h5>
                                        <ul class="card-text">
                                            <li>Integrated approach to website development, encompasses the front end design, technical implementation, content creation, search engine optimization, UX and UI etc.</li>
                                            <li>Instead of working in seperate silos, our team is considers how a change or a design development will affect the other parts of the project.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>