<div class="our-culture">
    <div class="container">
        <div class="sub-header">
            <h4>Our Culture</h4>
        </div>
    </div>
    <div class="our-culture-section">
        <div class="container">
            <div class="row">
                <!-- Customer Oriented -->
                <div class="col-lg-4 col-md-4">
                    <div class="content">
                        <img class="img-fluid" src="assets/images/icons/customer_oriented.png" alt="customer-oriented">
                        <h4 class="header">Customer Oriented</h4>
                        <p class="small-text">We provide customer centric services and exceed the expectation of our clients. We value long term partnership with our clients.</p>
                    </div>
                </div>
                <!-- Self Oriented -->
                <div class="col-lg-4 col-md-4">
                    <div class="content">
                        <img class="img-fluid" src="assets/images/icons/self_oriented.png.png" alt="self-oriented">
                        <h4 class="header">Web Oriented</h4>
                        <p class="small-text">All our projects revolve around “WWW”. We are very focus in this area and strives to be the best. We are passionate about the World Wide Web.</p>
                    </div>
                </div>
                <!-- Web Oriented -->
                <div class="col-lg-4 col-md-4">
                    <div class="content">
                        <img class="img-fluid" src="assets/images/icons/web_oriented.png" alt="web-oriented">
                        <h4 class="header">Self Oriented / Continuous Improvement</h4>
                        <p class="small-text">We must continue to improve ourselves to meet the changing technology needs.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>